@import "tailwindcss";

.navbar {
    background-image: linear-gradient(#0F0F1A, #0000);
    font-weight: bold;
}

.navbar-brand {
    color: var(--darkest);
}
.navbar-brand:hover {
    color: var(--darkest);
}

.nav-link {
    color: white
}
.nav-link:hover {
    color: white;
    cursor: pointer;
}

.navbar-text {
    color: var(--darkest);
}

.lv1-nav { 
    display: inline-flex;
    position: relative;
}

.lv1-nav:hover:after {
    content: " ";
    position: absolute;
    border-bottom: solid 2px white;
    width:  100%;
    height: 10px;
    bottom: 1px;
}